@import "./../../../Components/colors/style";

.round-composition-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .round {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 264px;
    width: 264px;
    animation: anim 120s alternate linear infinite;
    @keyframes anim {
      to {
        transform: rotate(360deg);
      }
    }

    @mixin zodiacImg($top, $right, $bottom, $left) {
      height: 106px;
      width: 106px;
      @keyframes animImg {
        to {
          transform: rotate(-360deg);
        }
      }

      .img {
        position: absolute;
        height: 106px;
        width: 106px;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        animation: animImg 120s alternate linear infinite;

        &:hover {
          cursor: pointer;
        }
      }

      .name {
        animation: animImg 120s alternate linear infinite;
        color: $lightYellow;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 264px;
        width: 264px;
        display: flex;
        justify-content: center;
        align-items: center;

        .img:hover {
          opacity: 1;
        }
      }


      .name {

      }

    }


    .zodiac0 {
      @include zodiacImg(-200px, 0, 0, -99px)
    }

    .zodiac1 {
      @include zodiacImg(-250px, 0, 0, 66px)
    }

    .zodiac2 {
      @include zodiacImg(-200px, 0, 0, 231px)
    }

    .zodiac3 {
      @include zodiacImg(332px, 0, 0, -99px)
    }

    .zodiac4 {
      @include zodiacImg(382px, 0, 0, 66px)
    }

    .zodiac5 {
      @include zodiacImg(332px, 0, 0, 231px)
    }


    .zodiac6 {
      @include zodiacImg(-99px, 0, 0, -200px)
    }

    .zodiac7 {
      @include zodiacImg(66px, 0, 0, -250px)
    }

    .zodiac8 {
      @include zodiacImg(231px, 0, 0, -200px)
    }

    .zodiac9 {
      @include zodiacImg(-99px, 0, 0, 332px)
    }

    .zodiac10 {
      @include zodiacImg(66px, 0, 0, 382px)
    }

    .zodiac11 {
      @include zodiacImg(231px, 0, 0, 332px)
    }
  }
}
