@import "./../colors/style";

.header-content {
  display: flex;
  justify-content: center;
  height: 10vh;
  padding: 20px 0;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      text-decoration: none;
    }

    .main-name {
      color: $yellow;
      cursor: pointer;
    }

    .world {
      font-weight: lighter;
    }

    .date {
      font-size: 24px;
      color: $red;
      font-weight: 600;

      .today {
        color: $yellow;
      }
    }
  }
}
