@import "./../../../Components/colors/style";

.information-selection-content {
  display: flex;
  justify-content: center;

  .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .item {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        color: $white;
        margin-bottom: 20px;
        .point{
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
        &.active-item0 {
          color: $yellow;
        }
        &.active-item1 {
          color: $red;
        }
      }
    }
  }
}
