@import "./../../../Components/colors/style";

.moon-content {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .container {
    display: flex;
  }

  .moon-img {
    height: 214px;
    width: 214px;
    margin-left: -60px;
    animation: move 4s alternate linear infinite;
    @keyframes move {
      to {
        transform: translate(30px) rotate(-10deg);
      }
    }
  }

  h2 {
    color: $yellow;
    margin: 60px 0 0 0;
  }
  h3{
    font-weight: normal;
    color: $lightYellow;
  }
}
