@import "./../../../Components/colors/style";

.main-content-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;

  .zodiac-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .zodiac-header-left {
      display: flex;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
        background: #FAEC94;
        margin: 0 20px 0 0;
      }

      h2 {
        color: $yellow;
      }

      h3 {
        margin: 10px 0 0 0;
        color: $red;
      }
    }

    .number-of-views {
      display: flex;
      align-items: center;
      color: $white;

      img {
        margin: 0 10px 0 0;
      }
    }
  }

  pre {
    color: $lightYellow;

  }

  .other-link {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    a {
      color: $white;
      text-decoration: none;
      font-size: 24px;

      &:hover {
        .text {
          color: $yellow;
        }

        .date {
          color: $red;
        }
      }


    }
  }
}
