@import "./../../../Components/colors/style";

.edit-horoscope-content {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    width: 100%;

    .title {
      color: $lightYellow;
      font-size: 25px;
      margin-bottom: 10px;
    }

    .signs {
      display: flex;
      flex-direction: column;
      width: 20%;
    }

    .edit-fields {
      width: 80%;

      .block {
        margin-bottom: 20px;

        input {
          box-sizing: border-box;
          padding: 10px;
        }

        textarea {
          max-width: 100%;
          min-width: 100%;
          min-height: 200px;
          box-sizing: border-box;
          padding: 10px;
        }
      }

      .send {
        padding: 10px 20px;
        max-width: 200px;
        font-size: 25px;
        border: 1px solid $yellow;
        border-radius: 10px;
        background: $background;
        color: $yellow;
      }
    }
  }
}
