@import "./../../../Components/colors/style";

.side-bar-content {
  position: relative;
  display: flex;
  width: 20%;
  flex-direction: column;
  min-height: 1275px;

  .zodiac {
    display: flex;
    margin-bottom: 20px;

    .icon {
      margin-right: 20px;
      width: 32px;
      height: 32px;
    }

    .name {
      font-size: 18px;
      color: $yellow;
      cursor: pointer;
      &:hover{
        font-weight: 600;
      }
    }

    &:nth-child(1){
      margin-top: 40px;
    }
  }

  .line {
    position: absolute;
    right: 0;
  }
}
