@import "./Components/colors/style";

body {
  overflow-x: hidden;
  margin: 0;
  font-style: normal;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  background: $background;
  position: relative;
}

#app {
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.SiteWrapper {
  position: relative;
  transform-style: preserve-3d;
}

.parallax {
  top: 0;
  .stars {
    background: url("./Static/Media/stars.png")no-repeat center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    transform: translateZ(-300px) scale(2);
    padding: 0;
  }
  .point-stars{
    z-index: -100;
    background: url("./Static/Media/star-png-transparent-background-6.png") center;
    position: absolute;
    top: 0;
    width: 100vw;
    background-size: contain;
    height: 100%;
    opacity: .2;
  }
}


.container {
  max-width: 1200px;
  margin: 0 30px;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

input {
  outline: none;
  font-size: 18px;
}

h1 {
  margin: 0;
  font-size: 48px;
}

h2 {
  margin: 0;
  font-size: 36px;
}

h3 {
  margin: 0;
  font-size: 24px;
}

p, pre {
  white-space: pre-wrap;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
}

textarea, input{
  font-size: 20px;
}
